@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: rgb(197,129,243);
    background: linear-gradient(90deg, rgba(197,129,243,1) 0%, rgba(142,255,214,1) 100%, rgba(1,21,192,1) 100%);

    display: flex;
    justify-content: center;
  }
